* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */


  color: #FFFFFF;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
  /* border: 2px solid red; */
  position: absolute;
  top: 20px;
  left: 80px;
  width: 80%;
  height: max-content;
  justify-content: flex-start;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

#profession {
  position: absolute;
  width: max-content;
  height: max-content;
  left: 500px;
  top: 0;
  color: #FFFFFF;
  background: #000000;
  border: 1px solid #FFFFFF;
  font-size: 14px;
}

.form-group label {
  margin-right: 10px;
}

.form-group input,
.form-group select,
.form-group button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-group button {
  background-color: WHITE;
  color: black;
  border: none;
}

#filter-btn {
  position: absolute;
  width: 80px;
  height: 40px;
  left: 650px;
  top: -15px;

  background: #FFFFFF;
}

.form-group button:hover {
  background-color: white;
}


#user-list {
  margin-top: 1rem;
  color: white;
  background-color: black;
  padding: 1rem;
}

#user-list>h2 {
  margin-bottom: 1rem;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
  background: #1E1E1E;
  color: white;
}

select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #ccc;
}

#user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
#frm-grp{
  width: 100%;
  position: absolute;
  left: 20px;
  top: 100vh;
  border: 2px solid white;
  display: flex;
  justify-content: space-around;
}
/* .row-container{
  border: 2px solid red;
   position: absolute; 
  left: 58px;
  top: 300px;
  width: max-content;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
.user-card {
  /* position: absolute; */
  /* left: 58px; */
  /* top: 300px; */
  border: 1px solid #ccc;
  padding: 10px;
  /* margin-bottom: 10px; */
  margin: 30px;
  width: 400px;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.user-card .user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-card .user-info h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-card .user-info p {
  margin: 0;
  font-size: 16px;
}

.user-card .user-info span {
  font-weight: bold;
}